body {
    padding-bottom: 500px;
    background: rgba(207, 37, 117, 0.267);
}

h1{
    color: rgb(47, 122, 122);
    text-align: center;
    
}

h2{
    background-color: rgb(195, 147, 223);
    font-size: 22px;
    color: blueviolet;
}

h3{
    color: rgb(255, 2, 192);
}

